<div class="chat-header">
    <div class="left-header">
        <div class="chat-title">
            hogefuga
        </div>
    </div>
    <div class="right-header">
        <div class="chat-end-btn">
            <a href="#">チャットを終了する</a>
        </div>
    </div>
</div>

<div class="messages">
    <div class="message">
        <div class="upper-message">
            <div class="user-name">
            Tom
            </div>
            <div class="date-time">
            2020/3/31(Web) 12:43:30
            </div>
        </div>
        <div class="lower-message">
            <div class="posted-message">
            おはよう
            </div>
        </div>
    </div>
        <div class="message">
        <div class="upper-message">
            <div class="user-name">
             Tom
            </div>
            <div class="date-time">
            2020/4/01(Web) 12:12:30
            </div>
        </div>
        <div class="lower-message">
            <div class="posted-message">
            こんにちは
            </div>
        </div>
    </div>
</div>

<div class="form">
    <div class="message-form">
        <input class="type-message" placeholder="type a message">
        <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="hidden">
        </label>
    </div>
    <input class= "submit-btn" type="submit" value="送信">
</div>